/* You can add global styles to this file, and also import other style files */

html, body {
    height: 100%;
    background-color: var(--ktd-background-color-step-50);
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

a {
    color: #ffa726;
}

.grid-item-content {
    box-sizing: border-box;
    background: #ccc;
    border: 1px solid black;
    color: black;
    width: 100%;
    height: 100%;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
